<h1>hello</h1>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>

<%= form_with scope: :user, url: user_password_path, method: :post do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  <%= f.submit "パスワードリセット" %>
<% end %>
